@import "src/assets/styles/extends";


.lost-container {
  @extend %flex;

  .lost-content {
    @extend %flex;
    flex-direction: column;

    .lost-title {
      text-transform: capitalize;
    }

    .lost-list {
      @extend %flex;
      flex-wrap: wrap;

      .lost-list-item {
        @extend %flex;

        p {
          font-weight: bolder;
          font-size: smaller;
        }

        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}