@import "src/assets/styles/extends";

.board-container {
  @extend %flex;

  .board-content {
    @extend %flex;
    flex-direction: column;
    gap:10px;

    .board-title {
      text-transform: capitalize;
      color: orangered;
    }

    .board-table {
      @extend %flex;
      width: calc(64px * 8);
      height: calc(64px * 8);
      flex-wrap: wrap;
      border: 2px solid brown;
    }
  }
}